@import "../../styles/variables";
@import "../../styles/mixins";

.input-box {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin-bottom: 2.4rem;
}

.input-box__input {
  @include text-style($font-main-text);
  padding: 0.5rem 1rem;
  border: 1px solid $medium-dark-grey;
  border-radius: 2px;
  min-width: 30rem;
  height: 3.4rem;
  outline: none;
  order: 2;

  &:hover,
  &:focus {
    border-color: $blue;
  }

  &::placeholder {
    @include text-style($font-main-text);
    color: $medium-dark-grey;
  }

  &:disabled {
    border-color: $medium-light-grey;
    color: $medium-dark-grey;

    & + .input-box__label {
      color: $medium-dark-grey;
    }
  }

  &_error {
    border-color: $error-color;

    & + .input-box__label {
      color: $error-color;
    }
  }
}

.input-box__label {
  @include text-style($font-secondary-text);
  display: block;
  order: 1;
}
