@import "../../styles/variables";
@import "../../styles/mixins";

.button {
  @include text-style(
    $font-main-text,
    $font-lh-main,
    $font-regular,
    $font-color-inverted
  );
  padding: 0.4rem 1.6rem;
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 2px;
  outline: none;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    border: 1px solid $light-blue;
    background-color: $light-blue;
  }

  &:active {
    border: 1px solid $dark-blue;
    background-color: $dark-blue;
  }

  &:disabled {
    border: 1px solid $medium-light-grey;
    color: $medium-light-grey;
    background-color: #fff;

    &:hover,
    &:focus {
      border: 1px solid $medium-dark-grey;
    }
  }
}

.button_outline {
  border: 1px solid $medium-light-grey;
  color: $font-color;
  background-color: #fff;

  &:hover,
  &:focus {
    border: 1px solid $medium-dark-grey;
    background-color: #fff;
  }
}

.button_text {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: 0;
  color: $font-color;
  text-align: left;

  &:hover,
  &:focus {
    border: 0;
    background-color: transparent;
    color: $blue;
  }
}
