@import "../../styles/variables";
@import "../../styles/mixins";

.profile__title {
  @include text-style($font-title-h1, $font-lh-h1, $font-bold);
  margin: 0;
  margin-bottom: 3.2rem;
  letter-spacing: 0;

  &_primary {
    font-size: $font-title-h2;
    margin-bottom: 1.1rem;
  }
}

.profile__form-info {
  margin-bottom: 6rem;

  button:first-of-type {
    margin-right: 2rem;
  }
}

.profile__fiedset {
  margin: 0;
  margin-bottom: 0.8rem;
  padding: 0;
  border: 0;
}

.profile__fiedset-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .input-box {
    &:nth-child(2n) {
      margin-left: 3.2rem;
    }
  }
}

.profile__form-workplace {
  .select-box {
    &:nth-child(2n) {
      margin-left: 3.2rem;
    }
  }
}

.profile__link {
  @include text-style();
  margin-left: 2.6rem;
  text-decoration: none;
  color: $blue;
  outline: none;

  &:hover,
  &:focus {
    color: $light-blue;
  }

  &:active {
    color: $dark-blue;
  }
}

.profile__btn {
  margin-top: 1.8rem;
}
