// Typography

$font-base: "Open Sans", Verdana, sans-serif;

$font-regular: 400;
$font-bold: 600;

$font-color: rgba(0, 0, 0, 0.9);
$font-color-inverted: rgba(255, 255, 255, 0.9);

$font-title-h1: 2.8rem;
$font-title-h2: 2rem;
$font-title-h3: 1.8rem;
$font-main-text: 1.4rem;
$font-secondary-text: 1.2rem;

$font-lh-h1: 4rem;
$font-lh-h2: 3.2rem;
$font-lh-h3: 2.8rem;
$font-lh-main: 2.2rem;

// Main colors

$panel-color: #284159;
$blue: #4488ff;
$dark-blue: #3d7ae6;
$light-blue: #69a0f6;
$red: #f15866;
$error-color: $red;
$dark-grey: #ababab;
$medium-light-grey: rgba(0, 0, 0, 0.16);
$medium-dark-grey: rgba(0, 0, 0, 0.32);
$light-grey: rgba(0, 0, 0, 0.04);
